
.publisher_img {
	position: absolute;
	left: -10px;
	/*position: absolute;
	left: 5px;
	top: 5px;*/
	border: none;
	border-radius: 16px;
	height: 32px;
	width: 32px;
	margin-left: 1px;
	margin-bottom: 1px;
}
.publisher_img img {
	width:35px;
	height:35px;
	border-radius: 16px;
}
.publisher_name {
	position: absolute;
	top: 0px;
	left: 30px;
	font-weight: bold;
	font-size: 16px; 
	color:white;/*#FD6D05!important;*/
	height:20px;
	line-height:20px;
}
.publisher_positionaddress {
	position: absolute;
	top: 20px;
	left: 30px;
	font-weight: bold;
	font-size: 1px;
	width: 100px;
	color: #FD6D05;
	overflow: hidden;
	line-height: 15px;
}
.publisher_position {
	width:30%;
	float:left;
	/*position: absolute;
	padding-top: 10px;*/
	font-weight: bold;
	font-size: 10px;
}
.publisher_position:before {
	font-family:'FontAwesome';
	content:'\f041';
	/*position:absolute;
	left:7px;*/
}
.publisher_email {
	width:25%;
	float:left;
	text-align: center;
	font-weight:bold;
	font-size: 14px;
}
.publisher_email:before {
	font-family:'FontAwesome';
	content:'\f003';
	font-size:x-large;
}
.publisher_mobile {
	width:25%;
	float:left;
	text-align:center;
	font-weight:bold;
	font-size:14px;
}
.publisher_mobile:before {
	font-family:'FontAwesome';
	content:'\f095';
	font-size:x-large;
}
.publisher_conversation {
	width:25%;
	float:left;
	text-align: center;
	font-weight:bold;
	font-size:14px;
}
.publisher_conversation:before {
	font-family:'FontAwesome';
	content:"\f0e6";
	font-size:x-large;
}
.publisher_zoomup {
	width:25%;
	float:left;
	text-align: center;
	font-weight:bold;
	font-size:14px;
}
.publisher_zoomup:before {
	font-family:'FontAwesome';
	content:'\f0b2';
	font-size:x-large;
}

.product_detail_detail{
	border-bottom:none;
}
.product_detail_images {
	padding-bottom:0px;
	padding-top: 30px;
}
.product_detail_image{
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}
.product_detail_publisher {
	position: absolute;
	/* margin-top: 5px; */
	/* margin-bottom: 10px; */
	border: none;
	border-radius: 16px;
	top: 10px;
	left: 30px;
	width: 150px;
	height: 35px;
	background-color: #bebebe;
	z-Index:2;
	
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	opacity:0.90;
}
.product_detail_publisher2 {
	width: 100%;
	height: 50px;
	border-bottom: solid 1px #EAEAEA;
	padding-top: 10px;
}
.product_detail_group1 {
	/*margin-top:15px;
	margin:10px;
	margin-bottom:0px;
	margin-top:0px;*/
	margin:0px;
	padding:0px;
	padding-left:5px;
	padding-top:10px;
	height:35px;
}
.product_detail_name {
	margin:0;
	padding:0px 10px 10px 10px;
	font-weight:bold;
}
.product_detail_content {
    padding:0px;
    margin:0px;
	background-color:#e9e9e9;
}
.product_detail_person {
	line-height: 32px;
	position: absolute;
	/*top: -90px;
	left: 20px;
	color: white;*/
	display: inline-block;
	border-radius: 16px;
}
.product_detail_descrpition {
	margin:0px;
	padding:10px;
	padding-top:0px;
}
.product_detail_openmoreproducts {
	float: right;
	margin:0px;
	padding:0px;
}
.product_detail_otherimage {
	width:100%;
	height:150px;
}
.product_detail_qdl, .product_detail_price {
	float:right;
}
.product_detail_price {
	margin-right:10px;
}
.product_detail_qdl {
	padding-right:5px;
}
.product_detail_yxq_timeover {
	top: 0px;
	left: 5px;
}
.product_detail_itemfav {
	/*position: absolute;
	right: 30px;
	top: 15px;
	bottom: -30px;*/
	position: absolute;
	top:40px;
	right: 30px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color:#bebebe;
	text-align: center;
	z-index:2;
	
	filter:alpha(opacity=80);
	-moz-opacity:0.80;
	opacity:0.80;
}
.product_detail_itemfav:before {
	font-family:'FontAwesome';
	font-size:25px;
	content:'\f08a';
}
.product_detail_others{
	margin-bottom:30px;
}
.product_detail_infoblock1 {
	margin: 0px;
	padding:10px;
	padding-top: 0px;
	background-color: white;
	border-radius:16px;
	border-top-left-radius:0;
	border-top-right-radius:0;
}
.product_detail_infoblock2 {
	margin: 0px;
	padding:10px;
	background-color: white;
	border-radius:16px;
}
.product_detail_infoblock {
	margin: 0px;
	margin-bottom:5px;
	padding:10px;
	background-color: white;
	border-radius:16px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.product_detail_label {
	margin: 0px;
	padding:10px;
	line-height: 40px;
	font-weight: normal;
}